<h1>Show <%= @merchant.username %> orders</h1>

<% @orders.each do |order| %>
<table>
  <thead>
    <tr>
      <th>Order_ID</th>
      <th>Order Placed</th>
      <th>Order Status</th>
      <th>Merchant Order Total</th>
      <th>Shipping Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.payment.created_at %></td>
      <td>subtotal here</td>
      <td><%= order.status %></td>
      <td>link to payments show here</td>
    </tr>
    <tr>
      <td>products</td>
      <td>quantity</td>
      <td>subtotal</td>
      <td>shipped</td>
    </tr>
    <tr>
      <% order.products.each do |product| %>
        <td><%= product.name %></td>
        <td><%= product.order_items[0].quantity %></td>
        <td></td>
        <td></td>
      <% end %>
    </tr>

  </tbody>
</table>
<% end %>
