<h2><%= @login_merchant.username %></h2>

<%= link_to "Manage Orders", merchant_orders_path(@login_merchant), class: "button" %>

  <%= link_to "Manage Products", merchant_products_path(@login_merchant), class: "button"%>


<table align="center">
  <thead>
    <tr>
      <th colspan="100%">
        Summary
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&nbsp</td>
      <td>Revenue</td>
      <td>Orders</td>
    </tr>
    <tr>
      <td>Unfulfilled Orders</td>
      <td><%= @unfufilled%></td>
      <td><%= @unfufilled.count%></td>
    </tr>
    <tr>
      <td>Completed Orders</td>
      <td><%= @complete%></td>
      <td><%= @complete.count%></td>
    </tr>
    <tr>
      <td>Total</td>
      <td></td>
      <td><%= @orders.count%></td>
    </tr>
  </tbody>
</table>
