<h2>Merchant: <%= @login_merchant.username %></h2>
<h2>Member Since: <%= @login_merchant.created_at.strftime("%e %b %Y")%></h2>

<%= link_to "Manage Orders", merchant_orders_path(@login_merchant), class: "button" %>

<%= link_to "Manage Products", merchant_products_path(@login_merchant), class: "button"%>

<% if @merchant.products.empty? %>
  <h3>Please add products!</h3>
<% end %>

<table align="center">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Revenue</th>
      <th>Orders</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Unfulfilled Orders</td>
      <td><%= number_to_currency(@unfufilled_revenue)%></td>
      <td><%= @unfufilled%></td>
    </tr>
    <tr>
      <td>Completed Orders</td>
      <td><%= number_to_currency(@complete_revenue)%></td>
      <td><%= @complete%></td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%=number_to_currency(@total_revenue)%></td>
      <td><%= @total%></td>
    </tr>
  </tbody>
</table>
