
<main>
  <div class='text-center checkout'>
    <% if @order_items.any? %>
    <h2 class="cart-heading text-center">Your Cart </h2>
    <p class="text-center">Your Total: <%= number_to_currency current_order.calculate_total %></p>
    <h2 class="gear text-center"/>The Gear You are Looking for</h2>
      <%= link_to "Checkout", "/orders/#{current_order.id}/payments/new", class: 'button large' %>
    <% else %>
      <h2>I find your lack of items disturbing...</h2>
      <%= image_tag'darth-vader-faith.jpg'%>

    <%end %>
  </div>

  <div class='row'>
      <% if @order_items.any? %>
      <% @order_items.each do |item| %>

        <div class='small-12 medium-6 large-6 column cart-image'>
        <img src=<%="#{item.product.photo_url}"%> />
        </div>

        <div class="small-12 medium-6 large-5 column text-block">
          <p class="text-center"> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> </p>
          <p class="text-center"> Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
            <%= form_for item do |f| %>
            <%= f.select :quantity, 1..item.product.inventory %>
            <%= f.submit %>
            <% end %>
        <div class="large-8 column ">
          <%= button_to "Delete", order_item_path(item), method: :delete %></div>
        </div>

        <hr />
        <% end %>

      <% end %>
    </div>
</main>
