<main>
  <section>

    <% if @order_items.any? %>

      <% @order_items.each do |item| %>
        <img src=<%="#{item.product.photo_url}"%> />
        <p><%= item.product.name %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
        <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>

        <%= form_for item do |f| %>
        <%= f.select :quantity, 1..item.product.inventory %>
        <%= f.submit %>
        <% end %>
      <% end %>

      <p>Your Total: <%= number_to_currency current_order.calculate_total %></p>
      <%= link_to "Checkout", "/orders/#{current_order.id}/payments/new", class: "button" %>

    <% else %>

      <p>Your shopping cart is empty.</p>

    <% end %>

  </section>
</main>
