<section>
  <%= form_for :payment, :url => {:action => "create", :id => @order} do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :mailing_address %>
    <%= f.text_field :mailing_address %>

    <%= f.label :cc_name, "Name on Credit Card" %>
    <%= f.text_field :cc_name %>

    <%= f.label :cc_expiration, "Expiration Date" %>
    <%= f.text_field :cc_expiration %>

    <%= f.label :cc_number, "Creadit Card Number" %>
    <%= f.number_field :cc_number %>

    <%= f.label :cc_ccv, "Credit Card CCV" %>
    <%= f.number_field :cc_ccv %>

    <%= f.label :billing_zip %>
    <%= f.number_field :billing_zip %>

    <%= f.submit "Pay", class: "button" %>
  <% end %>
</section>
