<main class="row">
  <section>

    <header class="align-center">
      <h1><%= @category.name %></h1>
    </header>

    <% if @products.any? %>

      <% @products.each do |product| %>
        <section class="small-6 large-3 columns align-center border-color product-padding end">

          <div>
            <%= link_to image_tag(product.photo_url), product_path(product), class: "thumbnail" %>

            <p>
              <span class="p-style"><%= product.name %></span> |
              <%= number_to_currency product.price %>
            </p>
          </div>

          <div>
            <%= form_for @order_item do |f| %>
              <%= f.hidden_field :product_id, value: product.id %>

              <%= f.label :quantity %>
              <%= f.number_field :quantity, class: "box-height"  %>
              <%= f.submit "Add to Cart" %>
             <% end %>
          </div>

        </section>
      <% end %>

    <% else %>

        <h1>Products coming soon!</h1>

    <% end %>

  </section>
</main>
