


<% @products.each do |product| %>
 <p><%= product.name %> | <%= number_to_currency product.price %>
   <%= product.photo_url %>
 <%= form_for :order_item, :url => {:action => "create", :id => @order_item} do |f| %>
   <%= f.hidden_field :product_id, value: product.id %>
   <%= f.number_field :quantity %>
   <%= f.submit "Add to cart" %>
 <% end %></p>
<% end %>
