<main class="row margin-zero min-width no-bg">
  <section class="align-center">

    <header class="bg bottom-margin">
      <h2 class="more-padding"><%= @category.name %></h2>
    </header>

    <% if @products.any? %>

      <% @products.each do |product| %>

        <div class="text-center small-12 large-4 columns thumbnail end">

          <%= link_to image_tag(product.photo_url), product_path(product) %>
          <p><strong><%= product.name %></strong></p>
          <p><%= number_to_currency product.price %></p>

          <%= form_for @order_item do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
              <%= f.select :quantity, 1..product.inventory %>
              <%= f.submit "Add to cart" %>
            <% end %></p>

        </div>

      <% end %>

    <% else %>

        <h1>Products coming soon!</h1>

    <% end %>

  </section>
</main>
