<main class="row">
  <div class="text-center">
    <!-- Name, URL, price and merchant  -->
    <header>
      <h1><%= "#{@product.name}" %></h1>
    </header>

    <div class="show-product">
      <img src=<%= "#{@product.photo_url}"%> />
    </div>

    <section>
      <p>Price: <%= number_to_currency(@product.price) %>
      <br>
      <p>Sold by: <%= link_to  @product.merchant.username, merchant_products_path(@product.merchant.id) %></p>

      <!--DESCRIPTION  -->
      <div class="row text-center">
      <% if @product.description %>
        <p class='description small-12 large-8 large-centered columns'><%= "#{@product.description}" %></p>
      <%end %>
      <!-- form_tag('/posts/1', method: :put) -->
      <%# TODO: Change this back to the form_for tag from product index page %>
      <div>
        <%= form_tag('/order_items', method: :post) %>
        <%= select_tag :quantity, options_for_select(1..@product.inventory) %>
        <%= hidden_field_tag :product_id, @product.id  %>
        <%= submit_tag "Add to Cart!" %>
      </div>

      <p class="inventory"> <%= "#{@product.inventory} in stock!" %></p>

    <div class="review-button">
      <%= link_to "Write a Review!!", new_product_review_path(@product.id), class: "button" %>
    </section>

  <section class="review large-8 large-centered columns">
    <% if @product.reviews.count > 0 %>
    <h2> Reviews </h2>
    <strong class="review">Average Rating = </strong><%= "#{@product.average_rating.round(2)}" %>
    <hr/>
    <hr/>

      <% @product.reviews.each do |review| %>
      <div class="review-details text-center large-centered columns">
        <%=  "\'#{review.review}\'"  %> <br />
        <% if review.rating == 1 %>
          <%= image_tag("darth-vader.png", :alt => "darth vader icon") %>
        <% elsif review.rating == 2 %>
          <%= image_tag("boba-fett.png", :alt => "boba fett icon") %>
          <%= image_tag("jabba-the-hutt.png", :alt => "jabba the hutt icon") %>
        <% elsif review.rating == 3 %>
          <%= image_tag("chewbacca.png", :alt => "chewbacca icon") %>
          <%= image_tag("han-solo.png", :alt => "han solo icon") %>
          <%= image_tag("lando-calrissian.png", :alt => "lando calrissian icon") %>
        <% elsif review.rating == 4 %>
          <%= image_tag("r2d2.png", :alt => "r2d2 icon") %>
          <%= image_tag("c3p0.png", :alt => "c3p0 icon") %>
          <%= image_tag("admiral-ackbar.png", :alt => "darth vader icon") %>
          <%= image_tag("obiwan-kenobi.png", :alt => "darth vader icon") %>
        <% else review.rating == 5 %>
          <%= image_tag("princess-leia.png", :alt => "darth vader icon") %>
          <%= image_tag("obiwan-kenobi.png", :alt => "darth vader icon") %>
          <%= image_tag("yoda.png", :alt => "darth vader icon") %>
          <%= image_tag("ewok.png", :alt => "darth vader icon") %>
          <%= image_tag("luke-skywalker.png", :alt => "darth vader icon") %>
        <% end %>
    </div>
      <hr />
        <%end%>
    <%end%>
  </section>
  </section>
    </div>
</main>
