<main>


  <div class="text-center">

    <header>
      <h1><%= "#{@product.name}" %></h1>
    </header>
    <div class="show-product">
      <img src=<%= "#{@product.photo_url}"%> />
    </div>
    <section>
      <p>Price: <%= "$#{@product.price/100.round(2)}" %></p>

      <% if @product.description %>
        <p class='description '><%= "#{@product.description}" %></p>
      <%end %>

    <div class=>
      <%# TODO: Make a small box for to enter the quantity instead of setting the default to one %>

      <%= button_to "Add to Cart!", order_items_path, params: { :order_item => { product_id: @product.id, quantity: 1 } }, method: :post %>
      <p class="inventory"> <%= "#{@product.inventory} in stock!" %></p>
      <%= link_to "Write a Review!!", new_product_review_path(@product.id), class: "button" %>
    </div>
  </section>

  <section>
    <% if @product.reviews.count > 0 %>
    <h3> Reviews </h3>
    <%= "Average Rating = #{@product.average_rating}" %>
      <% @product.reviews.each do |review| %>
      <div>
        <%= review.review %> </div>
      <div>  <%= review.rating %>
      </div><hr>

      <%end%>
    <%end%>
  </section>
  </section>
    </div>
</main>
