<main class="row">
  <div class="text-center">

<!-- Name, URL, price and merchant  -->
    <header>
      <h1><%= "#{@product.name}" %></h1>
    </header>
    <div class="show-product">
      <img src=<%= "#{@product.photo_url}"%> />
    </div>
    <section>
      <p>Price: <%= number_to_currency(@product.price) %><br />Sold by: <%= link_to  @product.merchant.username, merchant_products_path(@product.merchant.id) %></p>

      <!--DESCRIPTION  -->
      <% if @product.description %>
        <p class='description '><%= "#{@product.description}" %></p>
      <%end %>

<!-- Cart section  -->


:url => "/url/create", :html => {:method => :post} d
<div>
  <%= form_for @order, :url => orders_path, :html => {:action => "create"} do |f| %>
    <%= f.fields_for :order_items, @order.order_items.build do|order_items_fields| %>
      <%= order_items_fields.select :quantity, 1..@product.inventory %>
      <%= order_items_fields.hidden_field :product_id, value: @product.id  %>
      <%= f.submit "Add to Cart!" %>
   <% end %>
</div>

      <!-- <div>
        <%= form_for @order, :url => {:action => "create"} do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.label :quantity %>
          <%= f.select :quantity, 1..@product.inventory %>
          <%= f.submit "Add to Cart!" %>
         <% end %>
      </div> -->

      <p class="inventory"> <%= "#{@product.inventory} in stock!" %></p>
      <%= link_to "Write a Review!!", new_product_review_path(@product.id), class: "button" %>
    </div>
  </section>

  <section>
    <% if @product.reviews.count > 0 %>
    <h3> Reviews </h3>
    <%= "Average Rating = #{@product.average_rating}" %>
      <% @product.reviews.each do |review| %>
      <div>
        <%= review.review %> </div>
      <div>  <%= review.rating %>
      </div><hr>

      <%end%>
    <%end%>
  </section>
  </section>
    </div>
</main>
