<main>


  <div class="text-center">

    <header>
      <h1><%= "#{@product.name}" %></h1>
    </header>
    <div class="show-product">
      <img src=<%= "#{@product.photo_url}"%> />
    </div>
    <section>
      <p>Price: <%= "$#{@product.price/100.round(2)}" %></p>

      <% if @product.description %>
        <p class='description '><%= "#{@product.description}" %></p>
      <%end %>

    <div class=>
      <%= button_to "Add to Cart!" %>
      <p class="inventory"> <%= "#{@product.inventory} in stock!" %></p>
      <%= link_to "Write a Review!!", new_product_review_path(@product.id), class: "button" %>
    </div>

  </section>
  </section>
    </div>
</main>
