<main>
  <div id="review_body">
    <h2>Write a review!</h2>
    <div class="row text-center">
      <section class="review-form large-8 small-8 small-centered large-centered columns">

        <%= form_for :review, :url => {:action => "create", :id => @product} do |f| %>

          <%= f.label :review %>
          <%= f.text_area :review, cols: 10, rows: 8 %>

          <%= f.label :rating %>
          <%= f.select :rating, options_for_select(1.. 5) %>

        <p class="review-button">  <%= f.submit class: "button" %></p>
        <% end %>

      </section>
    </div>
  </div>
</main>
