<h2>Write a review!</h2>

<section>
  <%= form_for :review, :url => {:action => "create", :id => @product} do |f| %>


    <%= f.label :review %>
    <%= f.text_field :review %>

    <%= f.label :rating %>
    <%= f.select :rating, options_for_select(1.. 5) %>

    <%= f.submit class: "button" %>
  <% end %>
</section>
