<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <!-- DESKTOP NAVIGATION -->

  <header class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="menu">
        <% category = Category.all %>
        <% category[1..9].each do |category| %>
        <li>
          <%= link_to category.name, products_categories_path(category) %>
        </li>
        <% end %>

        <!-- SEARCH BAR -->

        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </li>

        <!-- LOGIN NAVIGATION -->

        <% if @login_merchant %>
          <li>
            <%= link_to "Merchant #{@login_merchant.username}", merchant_path(@login_merchant), class: "button" %>
          </li>
          <li>
            <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
          </li>

        <% else %>
          <li>
            <%= link_to "Log In", github_path, class: "button float-right" %>
          </li>
        <% end %>
        <li>
          <%= link_to "Cart", cart_path, class: "button float-left" %>
        </li>
      </ul>

    </nav>
  </header>



  <!-- <div class="menu-centered">
    <ul class="menu">
      <% category = Category.all %>
      <% category[1..9].each do |category| %>
      <li>
        <%= link_to category.name, products_categories_path(category), class: "button" %>
      </li>
      <% end %> -->






    </ul>
  </div>
      <!-- <li><%= link_to "Clothes", products_categories_path(id: 4), class: "button" %></li>
      <li><%= link_to "Accessories", products_categories_path(id: 8), class: "button" %></li>
      <li><%= link_to "Jedi", products_categories_path(id: 1), class: "button" %></li>
      <li><%= link_to "Sith", products_categories_path(id: 2), class: "button" %></li>
      <li><%= link_to "Pets", products_categories_path(id: 19), class: "button" %></li>
      <li><%= link_to "Miscellaneous", class: "button" %></li> -->




  <!-- HERO SECTION -->

  <section class="hero">
    <div class="hero-section-text">
      <%= link_to root_path do %>
        <h1>STARMART</h1>
      <% end %>
    </div>
  </section>

  <!-- LOGIN NAVIGATION -->
  <!-- <div class="menu-centered"> -->
    <!-- <div class="top-bar "> -->
    <!-- <ul class="menu">
      <% if @login_merchant %>
        <%= link_to "Merchant #{@login_merchant.username}", merchant_path(@login_merchant), class: "button" %>
        <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
      <% else %>
        <%= link_to "Log In", github_path, class: "button float-right" %>
      <% end %>
      <%= link_to "Cart", cart_path, class: "button float-left" %>
    </ul>
  </div> -->
  <!-- MAIN CONTENT -->

  <section class="main">

  </section>


  <%###############  FLASH MESSAGES #################### %>

  <section class="row status <%= flash[:status] %>">
    <% if  flash[:status] == :failure %>
    <%= "A problem occurred: #{flash[:message]}" %>
    <% else %>
    <%= flash[:message] %>
    <% end %>
  </section>


<!--
  <main class="row"> -->

    <%= yield %>

  <!-- </main> -->

  <!-- FOOTER SECTION -->

  <footer>
    <p>
      COPYRIGHT 2017
    </p>
  </footer>
</body>
</html>
