<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>



<%###############  FLASH MESSAGES #################### %>

    <section class="flash <%= flash[:status] %> row">
      <p class="no-margin">
        <%= flash[:message] %>
      </p>
      <% if flash[:details] %>
      <ul>
        <% flash[:details].each do |field, problems| %>
          <% problems.each do |problem| %>
          <li>
            <!-- <strong>
              <%= field.capitalize %>:
            </strong> -->
            <%= problem.capitalize %>
          </li>
          <% end %>
        <% end %>
      </ul>
      <% end %>
    </section>




  </body>
</html>
