<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <h1 class="text-center"><%= link_to "StarMart", root_path %></h1>
<nav class="login">
  <div class="float-right">
    <% if session[:merchant_id] %>
    <%= link_to "Merchant #{session[:merchant_username]}", merchant_path(session[:merchant_id]), class: "button" %>
    <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
    <% else %>
    <%= link_to "Log In", "/auth/github", class: "button float-right" %>
    <% end %>
    <%= link_to "Cart",  class: "button float-left" %>
  </div>
  </nav>
  <section class="banner">
    <%= link_to "All Products", products_path, class: "button" %>
    <%= link_to "Sidekicks", class: "button" %>
    <%= link_to "Equipment", class: "button" %>
    <%= link_to "Gear", class: "button" %>
    <%= link_to "Miscellaneous", class: "button" %>


  </section>

</header>

  <%###############  FLASH MESSAGES #################### %>
  ## NOTE ### Need to decide how to show our flash messages

  <section class="row status <%= flash[:status] %>">
    <%if  flash[:status] == :failure %>
    <ul>
      <h3><%= "A problem occurred: #{flash[:message]}" %></h3>
    </ul>
    <% else %>
    <ul>
      <h3><%= flash[:messages] %></h3>
    </ul>
    <% end %>
  </section>


    <section class="flash <%= flash[:status] %> row">
      <p class="no-margin">
        <%= flash[:message] %>
      </p>
      <% if flash[:details] %>
      <ul>
        <% flash[:details].each do |field, problems| %>
          <% problems.each do |problem| %>
          <li>
            <!-- <strong>
              <%= field.capitalize %>:
            </strong> -->
            <%= problem.capitalize %>
          </li>
          <% end %>
        <% end %>
      </ul>
      <% end %>
    </section>



  <main class="row">
    <%= yield %>
  </main>
    <footer>
      <p>
        COPYRIGHT 2017
      </p>
    </footer>
</body>
</html>
