<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

 <!-- DESKTOP NAVIGATION -->
  <div class="menu-centered">
    <ul class="menu">
      <li><%= link_to "Clothes", products_categories_path(id: 4), class: "button" %></li>
      <li><%= link_to "Accessories", products_categories_path(id: 8), class: "button" %></li>
      <li><%= link_to "Jedi", products_categories_path(id: 1), class: "button" %></li>
      <li><%= link_to "Sith", products_categories_path(id: 2), class: "button" %></li>
      <li><%= link_to "Pets", products_categories_path(id: 19), class: "button" %></li>
      <li><%= link_to "Miscellaneous", class: "button" %></li>
    </ul>
  </div>



  <!-- HERO SECTION -->


  <section class="hero">
    <div class="hero-section-text">
      <h1>STARMART</h1>
      <h5>subtitle about anything you like</h5>
    </div>


  </section>

  <!-- LOGIN NAVIGATION -->
  <div class="menu-centered">
    <!-- <div class="top-bar "> -->
      <ul class="menu">
      <% if session[:merchant_id] %>
      <%= link_to "Merchant #{session[:merchant_username]}", merchant_path(session[:merchant_id]), class: "button" %>
      <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
      <% else %>
      <%= link_to "Log In", "/auth/github", class: "button float-right" %>
      <% end %>
      <%= link_to "Cart",  class: "button float-left" %>
    </ul>
  </div>
  <!-- MAIN CONTENT -->

  <section class="main">

  </section>


  <%###############  FLASH MESSAGES #################### %>
  ## NOTE ### Need to decide how to show our flash messages

  <!-- <section class="row status <%= flash[:status] %>">
    <%if  flash[:status] == :failure %>
    <ul>
      <h3><%= "A problem occurred: #{flash[:message]}" %></h3>
    </ul>
    <% else %>
    <ul>
      <h3><%= flash[:messages] %></h3>
    </ul>
    <% end %>
  </section> -->


    <!-- <section class="flash <%= flash[:status] %> row">
      <p class="no-margin">
        <%= flash[:message] %>
      </p>
      <% if flash[:details] %>
      <ul>
        <% flash[:details].each do |field, problems| %>
          <% problems.each do |problem| %>
          <li>
            <strong>
              <%= field.capitalize %>:
            </strong>
            <%= problem.capitalize %>
          </li>
          <% end %>
        <% end %>
      </ul>
      <% end %>
    </section> -->



  <main class="row">
    <%= yield %>
  </main>

  <!-- FOOTER SECTION -->

    <footer>
      <p>
        COPYRIGHT 2017
        <%# TODO: THIS IS A TEST LINK! %>

        <%# @category = Category.first %>
        <%# link_to "This Categories Products!", products_categories(@category) %>

      </p>
    </footer>
</body>
</html>
