<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header>
    <nav>
      <%= link_to "Login", github_path %>
      <%= link_to "Logout", logout_path %>
      <%# TODO: Need to write an application method to get the session of the user %>
      <%# TODO: What is the path for the cart? A nested route? order/:id/products?  %>
      <%= link_to "Cart", root_path %>
    </nav>
  </header>

  <body>
<%###############  FLASH MESSAGES #################### %>

    <section class="flash <%= flash[:status] %> row">
      <p class="no-margin">
        <%= flash[:message] %>
      </p>
      <% if flash[:details] %>
      <ul>
        <% flash[:details].each do |field, problems| %>
          <% problems.each do |problem| %>
          <li>
            <!-- <strong>
              <%= field.capitalize %>:
            </strong> -->
            <%= problem.capitalize %>
          </li>
          <% end %>
        <% end %>
      </ul>
      <% end %>
    </section>

    <%= yield %>

    <footer>
      <p>
        COPYRIGHT 2017
      </p>
    </footer>
  </body>
</html>
