<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%###############  CATEGORIES NAVIGATION #################### %>

  <%# TODO: Make this into columns based on screen size if time %>

  <header class="fixed">
    <nav data-topbar role="navigation">
      <ul class="menu">

        <%######## TODO: NOT WORKING. IF CATEGORY IS NIL. PRODUCTS TEST ARE NOT PASSING %>

        <% if Category.any? %>

          <% category = Category.all %>
          <% category[0..9].each do |category| %>
          <li class="padding">
            <%= link_to category.name, products_categories_path(category) %>
          </li>
          <% end %>

          <div class="dropdown">
            <a><li class="dropbtn padding">Miscellaneous</li></a>
            <div class="dropdown-content">

              <%######## TODO: NOT WORKING. IF CATEGORY IS NIL. PRODUCTS TEST ARE NOT PASSING %>

              <% category[10].each do |category| %>
                <%= link_to category.name, products_categories_path(category), class: "inside-dropdown button" %>
              <% end %>
            </div>
          </div>

        <% end %>

        <%###############  SEARCH BAR #################### %>

        <li class="has-form padding">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Use the Force">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </li>

        <%###############  LOGIN NAVIGATION #################### %>

        <% if @login_merchant %>
          <li class="padding">
            <%= link_to "Merchant #{@login_merchant.username}", merchant_path(@login_merchant), class: "button" %>
          </li>
          <li class="padding">
            <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
          </li>

        <% else %>
          <li class="padding">
            <%= link_to "Log In", github_path, class: "button float-right" %>
          </li>
        <% end %>
        <li class="padding">
          <%= link_to "Cart", cart_path, class: "button float-left" %>
        </li>
      </ul>

    </nav>
  </header>



  <!-- <div class="menu-centered">
    <ul class="menu">
      <% category = Category.all %>
      <% category[1..9].each do |category| %>
      <li>
        <%= link_to category.name, products_categories_path(category), class: "button" %>
      </li>
      <% end %> -->


      <!-- <li><%= link_to "Clothes", products_categories_path(id: 4), class: "button" %></li>
      <li><%= link_to "Accessories", products_categories_path(id: 8), class: "button" %></li>
      <li><%= link_to "Jedi", products_categories_path(id: 1), class: "button" %></li>
      <li><%= link_to "Sith", products_categories_path(id: 2), class: "button" %></li>
      <li><%= link_to "Pets", products_categories_path(id: 19), class: "button" %></li>
      <li><%= link_to "Miscellaneous", class: "button" %></li> -->




  <%###############  HERO HEADER #################### %>

  <section class="hero">
    <div class="hero-section-text">
      <%= link_to root_path do %>
        <h1>STARMART</h1>
      <% end %>
    </div>
  </section>

  <!-- LOGIN NAVIGATION -->
  <!-- <div class="menu-centered"> -->
    <!-- <div class="top-bar "> -->
    <!-- <ul class="menu">
      <% if @login_merchant %>
        <%= link_to "Merchant #{@login_merchant.username}", merchant_path(@login_merchant), class: "button" %>
        <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
      <% else %>
        <%= link_to "Log In", github_path, class: "button float-right" %>
      <% end %>
      <%= link_to "Cart", cart_path, class: "button float-left" %>
    </ul>
  </div> -->



  <%###############  FLASH MESSAGES #################### %>

  <section class="row status <%= flash[:status] %>">

    <% if  flash[:status] == :failure %>
      <%= "A problem occurred: #{flash[:message]}" %>
    <% else %>
      <%= flash[:message] %>
    <% end %>

  </section>

  <%###############  MAIN CONTENT #################### %>

  <%= yield %>


  <%###############  STAR WARS OPENING  #################### %>

  <%# TODO: ADD THE STAR WARS THEME HERE IF TIME

  <!-- <section class="more-height">
    <div>

    </div>
  </section> -->


  <%###############  FOOTER #################### %>


  <footer class="align-center">
    <p>
      COPYRIGHT 2017
    </p>
  </footer>

</body>
</html>
