<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%###############  CATEGORIES NAVIGATION #################### %>

  <%# TODO: Make this into columns based on screen size if time %>

  <header class="fixed">
    <nav data-topbar role="navigation">
      <ul class="menu">

        <%######## TODO: NOT WORKING. IF CATEGORY IS NIL. PRODUCTS TEST ARE NOT PASSING %>

        <% if Category.any? %>

          <% category = Category.all %>
          <% category[0..9].each do |category| %>
          <li class="padding">
            <%= link_to category.name, products_categories_path(category) %>
          </li>
          <% end %>

          <div class="dropdown">
            <a><li class="dropbtn padding">Miscellaneous</li></a>
            <div class="dropdown-content">

              <%######## TODO: NOT WORKING. IF CATEGORY IS NIL. PRODUCTS TEST ARE NOT PASSING %>

              <%# category[10].each do |category| %>
                <%# link_to category.name, products_categories_path(category), class: "inside-dropdown button" %>
              <%# end %>
            </div>
          </div>

        <% end %>

        <%###############  SEARCH BAR #################### %>

        <li class="has-form padding">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Use the Force">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </li>

        <%###############  LOGIN NAVIGATION #################### %>

        <% if @login_merchant %>

        <div class="dropdown">
          <a><li class="padding">
            <%= link_to "Merchant #{@login_merchant.username}", merchant_path(@login_merchant.id), class: "button dropbtn padding" %>
          </li></a>
          <div class="dropdown-content">
            <%= link_to "Manage Orders", merchant_orders_path(@login_merchant.id)%>
            <%= link_to "Manage Products", merchant_products_path(@login_merchant.id) %>
            <%= link_to "Dashboard", merchant_path(@login_merchant.id)%>
          </div>
        </div>




          <li class="padding">
            <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
          </li>

        <% else %>
          <li class="padding">
            <%= link_to "Log In", github_path, class: "button float-right" %>
          </li>
        <% end %>
        <li class="padding">
          <%= link_to "Cart", cart_path, class: "button float-left" %>
        </li>
      </ul>

    </nav>
  </header>

  <%###############  HERO HEADER #################### %>

  <section class="hero">
    <div class="hero-section-text">
      <%= link_to root_path do %>
        <h1>STARMART</h1>
      <% end %>
    </div>
  </section>





  <%###############  FLASH MESSAGES #################### %>

  <section class="row status <%= flash[:status] %>">

    <% if  flash[:status] == :failure %>
      <%= "A problem occurred: #{flash[:message]}" %>
    <% else %>
      <%= flash[:message] %>
    <% end %>

  </section>

  <%###############  MAIN CONTENT #################### %>

  <%= yield %>


  <%###############  STAR WARS OPENING  #################### %>

  <%# TODO: ADD THE STAR WARS THEME HERE IF TIME



  <%###############  FOOTER #################### %>


  <footer class="align-center">
    <p>
      COPYRIGHT 2017
    </p>
  </footer>

</body>
</html>
