<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon_red.png'%>
</head>

<body>

  <%###############  CATEGORIES NAVIGATION #################### %>

  <%# TODO: Make this into columns based on screen size if time %>

  <header class="fixed">
    <nav data-topbar role="navigation">
      <ul class="menu">

        <%######## TODO: NOT WORKING. IF CATEGORY IS NIL. PRODUCTS TEST ARE NOT PASSING %>

        <% category = Category.all %>
        <li class="padding">
          <%= link_to products_categories_path(category[0]) do %>
          Jedi &nbsp;<%= image_tag'yoda.png', class: "navimg" %>
          <% end %>
        </li>
        <li class="padding">
          <%= link_to products_categories_path(category[1]) do %>
          Sith &nbsp;<%= image_tag 'darth-vader.png', class: "navimg" %>
          <% end %>
        </li>
        <li class="padding">
          <%= link_to products_categories_path(category[2]) do %>
          Droids &nbsp;<%= image_tag 'c3p0.png', class: "navimg" %>
          <% end %>
        </li>
        <li class="padding">
          <%= link_to products_categories_path(category[3]) do %>
          Clothing &nbsp;<%= image_tag 'obiwan-kenobi.png', class: "navimg" %>
          <% end %>
        </li>
        <li class="padding">
          <%= link_to products_categories_path(category[4]) do %>
          Toys &nbsp;<%= image_tag 'boba-fett.png', class: "navimg" %>
          <% end %>
        </li>
        <li class="padding">
          <%= link_to products_categories_path(category[5]) do %>
          Gear &nbsp;<%= image_tag 'red-five.png', class: "navimg" %>
          <% end %>
        </li>
        <li class="padding">
          <%= link_to products_categories_path(category[18]) do %>
          Pets &nbsp;<%= image_tag 'ewok.png', class: "navimg" %>
          <% end %>
        </li>
        <li class="padding">
          <%= link_to products_categories_path(category[18]) do %>
          Accessories &nbsp;<%= image_tag 'stormtrooper.png', class: "navimg" %>
          <% end %>
        </li>

        <%###############  SEARCH BAR #################### %>

        <li class="has-form padding">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Use the Force">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </li>

        <%###############  LOGIN NAVIGATION #################### %>
        <% if @login_merchant %>

        <div class="dropdown">
          <a><li class="dropbtn padding button"><%= @login_merchant.username %></li></a>
          <div class="dropdown-content">
            <%= link_to "Dashboard", merchant_path(@login_merchant.id)%>
            <%= link_to "Manage Orders", merchant_orders_path(@login_merchant.id)%>
            <%= link_to "Manage Products", merchant_products_path(@login_merchant.id) %>
          </div>
        </div>




          <li class="padding">
            <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
          </li>

        <% else %>
          <li class="padding">
            <%= link_to "Log In", github_path, class: "button float-right" %>
          </li>
        <% end %>
        <li class="padding">
          <%= link_to "Cart", cart_path, class: "button float-left" %>
        </li>
      </ul>

    </nav>
  </header>

  <%###############  HERO HEADER #################### %>

  <section class="hero">
    <div class="hero-section-text">
      <%= link_to root_path do %>
        <h1>STARMART</h1>
      <% end %>
    </div>
  </section>





  <%###############  FLASH MESSAGES #################### %>

  <section class="row status <%= flash[:status] %>">

    <% if  flash[:status] == :failure %>
      <%= "A problem occurred: #{flash[:message]}" %>
    <% else %>
      <%= flash[:message] %>
    <% end %>

  </section>

  <%###############  MAIN CONTENT #################### %>
  <main>
    <%= yield %>
  </main>



  <%###############  STAR WARS OPENING  #################### %>

  <%# TODO: ADD THE STAR WARS THEME HERE IF TIME



  <%###############  FOOTER #################### %>


  <footer class="align-center">
    <p>
      COPYRIGHT 2017
    </p>
  </footer>

</body>
</html>
